*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Making some items non visible  */
.navMob,.hide2,.mobMenu,.mobMenuItems{
    display: none;
}
main{
    background: rgb(207,204,237);
    background: linear-gradient(0deg, rgba(207,204,237,1) 52%, rgba(198,216,218,1) 53%);
}
/* ------------------------------Styling the navigation bar-----------------------------------*/
nav{
    width: 100%;
    display: flex; 
    justify-content: center;

}
.navBar{
    /* background-color: #016DFE; */
    min-height: 100px;
    /* background-color: #016DFE; */
    width: inherit;
    position: absolute;
    display: flex;
    padding-left: 40px;
    justify-content: space-evenly;
    align-items: center;
}
.menu>a>i,.siteName>h1>i,.contactUs>a>i,.mobViewContactUs>a>i{
    padding-right: 5px;
}
.siteName>h1>i{
    color: #94B326;
}
.contactUs>a>i,.mobViewContactUs>a>i{
    color: #016DFE;
}
/* .contactUs>a */
.menu>a>i,.dropbtn>i{
    color: #199F9F;
}
.menu>a,.contactUs>a,.dropbtn,.mobViewContactUs>a{
    margin: 0px 10px 0px 10px;
    padding: 3px 0 3px 0;
    text-decoration: none;
    color: #1B1B1B;
}
.contactUs,.mobViewContactUs{
    transition:  background-color 0.2s linear;
}
.contactUs:hover,.mobViewContactUs:hover{
    /* border: 2px solid #016DFE; */
    background-color: #ffd900;
    
}
.menu>a:hover,.dropbtn:hover{
    border-radius: 2px;
    border-bottom: 2px solid #199F9F;
}
.siteName>h1,.contactUs>a,.mobViewContactUs>a{
    font-size: 30px;
}

.siteName,.menu,.contactUs,.mobViewContactUs{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    background-color: white;
    color: #1B1B1B;
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    top: 30px;
    text-align: center;
    color: #1B1B1B;
    border-radius: 0 8px 8px 8px;
    background-color: white;
    padding: 10px 20px;
    width: 200px;
    z-index: 1;
}
.dropdown-content>a{
    text-decoration: none;
    color: #1B1B1B;
    padding: 5px;
}
.dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column;
}
.dropdown-content>a:hover{
    color: white;
    background-color: #199F9F;
    border-radius: 5px;
}


/* ---------------------------------- Styling the Text area in NAV  ------------------------------ */



.navText{
    /* background-color: #016DFE; */
    position:absolute;
    top: 15.0vh;
    left: 6.3vw;
    width: 73%;
    font-size: 3.2vw
}
.navText>h5{
    width: 65%;
    color: #616A75;
}
.nameText{
    font-size: 5vw
}
.navOffer{
    margin-top: 30px;
    font-size: 2.2vw;
    position: absolute;
    background-color: #F95252;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.heathText{
    font-style: italic;
}

/* ---------------------------------- Styling the  formInfo in main  ------------------------------ */

.formInfo{
    display: flex;
    background-color: #199F9F;
    width: 100%;
    height: auto;
    border-radius: 7vw 0 0 7vw;
    padding: 30px;
}
.formTextTile{    
    width: 57%;
    /* background-color: #94B326; */
}
.formInfo>form{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    align-items: center;
    gap: 15px 30px;
    width: 43%;
    padding: 20px 30px;
    background-color: #E5F2F2 ;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
form>div>label{
    font-size: 2.2vh;
}
.inputFullName{
    grid-column: 1/3;
}
.inputPhone{
    grid-column: 1/3;
}
.inputEmail{
    grid-column: 1/3;
}
.inputGender{
    /* background-color: #199F9F; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    justify-items: center;
}
.inputGender>label{
    grid-column: 1/3;
    justify-self: start;
}

.inputGender>i{
    color: #016DFE;
}
.formInputStyle{
    background-color: #F5FAFA;
    border: 2px solid #016DFE;
    border-radius: 8px;
    width: 100%;
    margin-top: 10px;
    padding: 10px  15px;
}
.formInputStyle[type]{
    color: #016DFE;
}
.formInputStyle[type="text"]:focus{
    color: #1B1B1B;
}
form>button{
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    font-size: 2.2vh;
    color: white;
    font-weight: bold;
    background-color: #199F9F;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    transition: background-color 0.3s linear;
}
form>button:hover{
    background-color: #016DFE;
    cursor: pointer;
}
.formTextTile{
    display: flex;
    align-items: center;
    padding: 55px 3vw 40px 5vw;
    color: white;
    font-size: 3vw;
    font-weight: 700;
}
.formText{
    width: 300px;
}
.formTextTile>img{
    border-radius: 20px;
    width: 20vw;
}

/* ---------------------------------- Styling the  servicesOffered in main  ------------------------------ */


.servicesOffered{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #CFCCED;
    width: 100%;
    padding-bottom: 7vw;
}
.servicesOfferedTitle{
    width: 100%;
    padding: 30px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.servicesOfferedTitle>h1{
    font-size: 6vw;
}
.servicesOfferedTitle>img{
    width: 20vw;
}
.servicesOfferedTitle>h1>i{
    font-style: normal;
    color: #214AAF;
}
.servicesOfferedContent{
    z-index: 1;
    padding: 35px;
    margin-bottom: 40px;
    background-color: #756E8B;
    border-radius: 20px;
    width:max-content;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.servicesOfferedContentHG1,.servicesOfferedContentHG2,.servicesOfferedContentHG3{
    display: flex;
}
.servicesOfferedContentHG4{
    display: flex;
    margin: 0 30px;
}
.servicesOfferedContentHG1>h3{
    width: 100%;
}
.servicesOfferedContentHG3>h3{
    width: 100%;
}
.servicesOfferedContentHG1>h3,.servicesOfferedContentHG2>h3,.servicesOfferedContentHG3>h3,.servicesOfferedContentHG4>h3{
    text-align: center;
    padding: 8px 10px;
    font-size: 2.1vw;
    background-color: #FFFFFF;
    border-radius: 8px;
    margin: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.servicesOfferedContentHG4>h3{
    width: 100%;
}
.servicesOfferedContentHG1>h3>i,.servicesOfferedContentHG2>h3>i,.servicesOfferedContentHG3>h3>i,.servicesOfferedContentHG4>h3>i{
    padding-right: 5px;
}
.servicesOfferedContentHG1>h3:hover,.servicesOfferedContentHG2>h3:hover,.servicesOfferedContentHG3>h3:hover,.servicesOfferedContentHG4>h3:hover{
    color: white;
    cursor:default;
    background-color: #1B1B1B;
}
.servicesOfferedDumble1,.servicesOfferedDumble2{
    position: absolute;
}
.servicesOfferedDumble1{
    bottom: 0px;
    right: 0px;
    width: 30vw;
}
.servicesOfferedDumble2{
    left: 0;
    bottom: 0;
    width: 20vw;
}
/* ---------------------------------- Styling the review in main  ------------------------------ */
.review{
    width: 100%;

    /* height: 800px; */
    /* padding: 0 5vw; */
    background-color: #D8DBE4;
}
.reviewContentTitle{
    margin: 0 5vw;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}
.reviewTitle{
    display: flex;
    flex-direction: column;
    align-items: center;
    /* background-color: #199F9F; */
    /* width: 20%; */
}
.reviewTitle>h1{
    width: 80%;
    margin: 2vw 0 2vw 0;
    text-align: center;
    font-size: 4vw;
}
.reviewContentTitle>img{
    width: 25vw;
}
.reviewDisclaimer{
    /* margin-top: 3vw; */
    font-size: 1.6vw;
    background-color: #F95252;
    color: white;
    /* width: m; */
    padding: 0.7vw 1.2vw;
    border-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;  
}
.reviewCon{
    margin: 0 5vw;
    display: flex;
    /* width: 100%; */
    border-radius: 4vw;
    border: 1px solid #7A7A7A;
    margin-bottom: 30px;
    /* background-color: #016DFE; */
}
.reviewConText{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2vw 3vw;
    background-color: white;
    border-radius: 4vw;
    /* border: 2px solid #199F9F; */
    width: 50%;
}
.reviewConText>p{
    text-align: center;
    padding: 0vw;
    /* background-color: #016DFE; */
    font-size: 2.2vw;
    font-family: 'Dancing Script', cursive;
}
.reviewConText>span{
    text-align: end;
    font-size: 2vw;
    margin-top: 20px;
}
.reviewCon>img{
    margin-left: 10%;
    width: 30vw;
}
.reviewEndText{
    display: flex;
    align-items: center;
    width: 100%;
}
.reviewEndText>img{
    width: 20%;
}
.reviewEndText>p{
    font-size: 2.4vw;
    text-align: center;
    font-weight: bold;
    padding-right: 2vw;
}
.reviewEndText>p>span{
    color: #CF1642;
}

footer{
    width: 100%;
    position: relative;
}
footer>img{
    width: 100%;
}
.footerContent{
    /* width: 100%; */
    /* background-color: #016DFE; */
    position: absolute;
    top: 2vw;
    left: 2vw;
}
.footerContent>dl>dt{
    font-size: 2.4vw;
    padding: 0.2vw;
    font-weight: bold;
    color: #CF1642;
}
.footerContent>dl>dd{
    font-size: 1.9vw;
    padding: 0.2vw;
    margin-left: 20px;
    font-weight: bold;
}
.socialLinks>span>a{
    color: #1B1B1B;
    font-size: 3.5vw;
}
.footerMain{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #C4C4C4;
    padding: 3vw 0;
    width: 100%;
    position: absolute;
    bottom: 0px;
}
.footerMain>h6{
    font-size: 0.8vw;
}





.mobMenuItems{
    z-index: 1;
}

/*---------------------------------- Adjusting the background image ------------------------------*/

@media screen and (min-width:1800px){
    .siteName>h1,.contactUs>a{
        font-size: 40px;
    }
    .menu{
        font-size: 30px;
    }
    .dropdown-content{
        width: 300px;
        top: 50px;
    }
    .formInputStyle{
        padding: 20px 25px;
    }
    .male,.female{
        font-size: 1.2vw;
    }
}
@media screen and (max-width:1430px){
    .formText{
        /* background-color: #94B326; */
        width: 210px;
        height: auto;
    }
    .formTextTile{
        /* background-color: #016DFE; */
        padding: 45px 2vw 30px 3.5vw;
    }
    .formTextTile>img{
        width: 25vw;
    }
}
@media screen and (max-width:1200px){
    .siteName>h1,.contactUs>a{
        font-size: 20px;
    }
    .menu{
        font-size: 15px;
    }
    .dropdown-content{
        width: 200px;
        top: 30px;
    }
    .navText{
        top: 13vw;
    }
}
@media screen and (max-width:994px){
    .hide{
        display: none;
    }
    .hide2{
        display: block;
    }
    .menu{
        display: none;
    }
    .mobMenu{
        display: block;
        background-color: white;
        padding: 8px 10px;
        border: none;
        border-radius: 8px 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .mobMenuItems{
        display: none;
        background-color: white;
        width: 100%;
        height: 100vh;
        top: 0px;
        left: -400px;
        position:absolute;
        transition: all 0.6s linear;
    }
    .barMenuOpen{
        display: block;
        left: 0px;
    }
    .mobMenuItems>span{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 23px;
    }
    .mobMenuItems>span>a>i,.mobViewDropbtn>i,.mobMenuItems>div>a>i{
        color: #199F9F;
        padding-right: 5px;
    }
    .mobViewDropdown,.mobMenuItems>div{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .mobMenuItems>span>span>i{
        padding-right: 5px;
        font-size: 33px;
        color: rgb(70, 70, 70);
    }
    .mobViewAboutUs>a,.mobMenuItems>span>a,.mobViewDropdown>a{
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #1B1B1B;
        padding: 10px;
        font-size: 23px;
        /* background-color: #94B326; */
    }
    .mobViewDropdown-content{
        display: none;
    }
    .show{
        display: block;
    }
    .mobViewDropdown-content>a{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #1B1B1B;
        padding: 10px;
    }
    .mobViewDropdown-content>a:hover{
        background-color: #199F9F;
        color: white;
    }
    /* .mobViewDropdown:hover .mobViewDropdown-content{
        display: block;
        background-color: rgb(238, 238, 238);
    } */
    .mobViewContactUs{
        text-align: center;
        margin: 0 20px;
    }
    /* .mobMenu:hover .mobMenuItems{
        display: block;
        right: 0px;
    } */
    .formTextTile{
        width: 40%;
    }
    .formInfo>form{
        width: 60%;
    }
    .formText{
        /* background-color: #94B326; */
        width: 210px;
        height: auto;
    }
    .formTextTile{
        flex-direction: column-reverse;
        /* background-color: #016DFE; */
        /* padding: 25px 1vw 10px 1.5vw */
    }
    .formTextTile>img{
        width: 35vw;
        
    }
    .servicesOfferedContent{
        padding: 25px;
    }
}
@media screen and (max-width:610px){
    .hide,.hide2{
        display: none;
    }
    .navMob{
        display: block;
        overflow: hidden;
    }
    .menu,.contactUs{
        display: none;
    }
    .siteName>h1{
        font-size: 18px;
    }

    .mobMenu{
        display: block;
        background-color: white;
        padding: 8px 10px;
        border: none;
        border-radius: 8px 0;
        box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
    .mobMenuItems{
        display: none;
        background-color: white;
        width: 100%;
        height: 100vh;
        top: 0px;
        left: -400px;
        position:absolute;
        transition: all 0.6s linear;
    }
    .barMenuOpen{
        display: block;
        left: 0px;
    }
    .mobMenuItems>span{
        display: flex;
        justify-content: space-between;
        padding: 10px;
        font-size: 23px;
    }
    .mobMenuItems>span>a>i,.mobViewDropbtn>i,.mobMenuItems>div>a>i{
        color: #199F9F;
        padding-right: 5px;
    }
    .mobViewDropdown,.mobMenuItems>div{
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
    }
    .mobMenuItems>span>span>i{
        padding-right: 5px;
        font-size: 33px;
        color: rgb(70, 70, 70);
    }
    .mobViewAboutUs>a,.mobMenuItems>span>a,.mobViewDropdown>a{
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #1B1B1B;
        padding: 10px;
        font-size: 23px;
        /* background-color: #94B326; */
    }
    .mobViewDropdown-content{
        display: none;
    }
    .show{
        display: block;
    }
    .mobViewDropdown-content>a{
        display: flex;
        flex-direction: column;
        width: 100%;
        text-align: center;
        text-decoration: none;
        color: #1B1B1B;
        padding: 10px;
    }
    .mobViewDropdown-content>a:hover{
        background-color: #199F9F;
        color: white;
    }
    /* .mobViewDropdown:hover .mobViewDropdown-content{
        display: block;
        background-color: rgb(238, 238, 238);
    } */
    .mobViewContactUs{
        text-align: center;
        margin: 0 20px;
    }
    /* .mobMenu:hover .mobMenuItems{
        display: block;
        right: 0px;
    } */

    .navBar{
        padding-left: 10px;
        min-height: 80px;
    }
    .navText{
        width: 90%;
        font-size: 4vw;
        top: 30vw;
    }
    .navText>h5{
        width: 40%;
    }
    .navOffer{
        margin-top: 60px;
        font-size: 2.5vw;
    }
    .formInfo{
        flex-direction: column;
    }
    .formTextTile{
        padding: 0 1vw 10px 1vw;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        text-align: center;
        width: 100%;
        font-size: 4.5vw;
    }
    .formInfo>form{
        width: 100%;
    }
    .formTextTile>img{
        width: 18vw;
    }
    .male,.female{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .servicesOfferedContent{
        width: 80%;
        padding: 10px;
    }
    .servicesOfferedContentHG1,.servicesOfferedContentHG2,.servicesOfferedContentHG3{
        display: flex;
        flex-direction: column;
    }
    .servicesOfferedContentHG4{
        /* display: flex; */
        margin: 0px;
    }
    .servicesOfferedContentHG1>h3,.servicesOfferedContentHG2>h3,.servicesOfferedContentHG3>h3{
        width: auto;
        font-size: 3vw;
    }
    .servicesOfferedContentHG4>h3{
        font-size: 3vw;
        width: 100%;
    }
}
